<div align="center">
  <h1> Welcome to WaffleCrisp </h1>
  <br><br>
  <%= link_to "Create a New Board", new_board_path, class: "btn btn-success" %>
  <br><br>
  <h1> Boards: </h1>
  <% @boards.each do |board|  %>
    <%= link_to board.title, board_path(board.id) %>
  <% end  %>
</div>
