<h2 align="center">"Your Board:"<%= @board.title %> </h2>

<div align="center"><%= link_to "Create a New Ticket", new_ticket_path, class: "btn btn-success" %></div>


<div class="row" align="center">
  <br><br><br>
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <table class="table table-striped table-bordered">
      <caption class="text-center">Backlog</caption>
        <thead>
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Description</th>
          </tr>
        </thead>
      <tbody>
          <tr>
            <td class="text-center">title</td>
            <td class="text-center">desc</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <table class="table table-striped table-bordered">
      <caption class="text-center">Current Sprint</caption>
        <thead>
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Description</th>
          </tr>
        </thead>
      <tbody>
          <tr>
            <td class="text-center">title</td>
            <td class="text-center">desc</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <table class="table table-striped table-bordered">
      <caption class="text-center">In Progress</caption>
        <thead>
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Description</th>
          </tr>
        </thead>
      <tbody>
          <tr>
            <td class="text-center">title</td>
            <td class="text-center">desc</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <table class="table table-striped table-bordered">
      <caption class="text-center">Done</caption>
        <thead>
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Description</th>
          </tr>
        </thead>
      <tbody>
          <tr>
            <td class="text-center">title</td>
            <td class="text-center">desc</td>
          </tr>
      </tbody>
    </table>
  </div>

</div>

